<section id="allposts" style="padding-left:10%; padding-right:10%">
    <div class="content animate-panel">

  <%= render 'partials/categorieslist' %>

<% if @posts.exists? %>
    <% if @posts.each_slice(4) do |post| %>
        <div class="row">
        <% post.each do |post| %>
            <div class="col-md-4" style="">
                <div class="hpanel blog-box">
                    <div class="panel-heading">
                        <div class="media clearfix">
                            <a class="pull-left">
                            <%= image_tag post.image.url, width:'100%' %>
                            </a>
                            <h4><%= post.title %></h4>

                            <div class="media-body">
                                <small>Created by: <span class="font-bold"><%= post.user.name %></span> </small>
                                <br>
                                <small class="text-muted"><%= post.created_at.to_time.strftime('%B %e at %l:%M %p') %></small>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <%= raw post.body.truncate(515) %>
                        <%= link_to "Read more", post_path(post), class:"btn btn-primary btn-xs" %>
                    </div>
                    <div class="panel-footer">
                            <span class="pull-right">
                                <i class="fa fa-comments-o"> </i> 
                                <%= pluralize(post.comments.length, 'comment')  %> 
                            </span>
                        <i class="fa fa-eye"> </i> <%= pluralize(@views_count, 'view')  %> 
                    </div>
                </div>
            </div>
        <% end %>
        <% end %>
        </div>
    <% end %>
<% else %>
    <p> No posts in this category</p>
<% end %>
</div>
</section>
